.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.i-am-centered {
  margin: auto; 
 max-width: 600px;
 padding-top: 25px;
}

.i-am-centered-button {
 
 text-align: center;

padding-top: 25px;
}

.i-am-row{
 padding-left: 10px;
 padding-right: 10px;
}

.column_container {
 width: 959px;
 margin: 10px;
}
.help {
 padding-left: 20px;
 padding-right: 20px;
}

.help-button{
 align-items: center;
}

.drop {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
 }
 
 .drop-button{
  align-items: center;
 }

 .delete-button{
  padding-left: 20px;
  padding-right: 20px;
 }

.add-button{
  display:flex; ;
  justify-content:flex-end; 
  width:100%;
}

.btn_i {
 width: 125px;
 margin-left: auto;
 margin-right: auto;
}